main.img-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    row-gap: 4rem;

    width: 100vw;
}

main.img-container img{
    object-fit: cover;
    width: 100%;
}